.container {
    background: #282c34;
    width: 500px;
    height: 200px;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 3px #282c34;
}
.container div {
    margin-left: 20px;
    width: 90%;
}
.container div.close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    margin: 0;
    width: 10px;
}
.descr {
    margin-left: 20px;
    opacity: 0.5;
}

.container button {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.container div span:nth-child(2),
.container div input:nth-child(2) {
    border: 1px solid rgba(255, 255, 255, 0.43);
    display: inline-block;
    width: 70%;
}

.container div span:nth-child(1) {
    display: inline-block;
    width: 100px;
}
